/* Navbar.css */
.navbar {
    background-color: #1d2a35;
    color: #fff;
}

.nav-menu {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    width: 80px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 13px;
}

.nav-link:hover {
    background-color: lightgreen;
    border-radius: 5px;
}